<% content_for :head do %>
  <meta property="og:title" content="Mark The Date!" />
  <meta property="og:description" content="<%= @countdown.name %>" />
  <meta property="og:image" content="<%= @countdown.main_image.url %>" />
  <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5b121e81093c0e0011b0377d&product=inline-share-buttons' async='async'></script>
<% end %>
<span class="st_sharethis" st_url="http://sharethis.com" st_title="Sharing is great!" st_image="<%=@countdown.main_image.url%>"></span>
<div class="countdown" id="countdown-show" style='background: url(<%=@countdown.background_image.url%>'>
  <header class="masthead">
    <div class="intro-body">
      <div class="container">
        <div class="text-center">
          <% if @countdown.main_image.url %>
            <h3 class="brand-heading margin" style="color: <%=@countdown.title_color%>"><%=@countdown.name%></h3>
			      <img src="<%=@countdown.main_image.thumb.url%>"  class="img-responsive img-circle margin" alt="Me" style="display:inline" width="250" height="250">
            <div class="text-center">
              <div class="flip-counter clock flip-clock-wrapper" style=""></div>
            </div>
          <% else %>
            <h3 class="brand-heading g-mb-50" style="color: <%=@countdown.title_color%>"><%=@countdown.name%></h3>
            <div class="text-center g-mt-100">
              <div class="flip-counter clock flip-clock-wrapper" style=""></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </header>
</div>


<section class="cta" id="cta">
  <div class="cta-content">
    <div class="container">
      <h2 class="white">Use it on your website</h2>
      <p class="white">Get the source code and use the countdown on your personal website!</p>
      <%= link_to countdown_path(@countdown.id, format: :zip) do %>
		  <button type="button" id="cta-btn" class= "btn btn-lg g-btn-primary font-size-16 g-mr-20 font-weight-600"><span class="glyphicon glyphicon-download"></span> Download</button>
      <% end %>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="sm-wrapper text-center">
    <h4 class="white g-mb-25 font-weight-600 g-mt-40"> Share the countdown on social media </h4>
	  <ul>
      <li class="facebook"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
      <li class="twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
      <li class="instagram"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
      <li class="google"><i class="fa fa-google fa-2x" aria-hidden="true"></i></li>
      <li class="whatsapp"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></li>
    </ul>
	</div>
</section>

<% if current_user == @countdown.user %>
  <div class="text-center container g-primary-card g-mt-40 g-mb-40 g-pa-20">
    <h2 class="text-center g-mb-20">Customize Countdown</h2>
    <%= link_to edit_countdown_path(@countdown.id), style: "color: #fff;" do %>

      <button type="button" class= "btn g-pa-8 g-btn-primary font-size-16 g-mr-20 font-weight-600 g-mb-10 g-w-33"><span class="glyphicon glyphicon-edit"></span> Edit</button> 
    <% end %>
    <%= link_to @countdown, method: :delete,
                            style: "color: #394251;",
																				data: { confirm: "You sure?" } do %>
      <button type="button" class="btn g-pa-8 font-size-16 font-weight-600 g-mb-10 g-w-33"><span class="glyphicon glyphicon-remove"></span> Delete</button><br>
    <% end %>
  </div>
<% end %>

<div class="sharethis-inline-share-buttons"></div>


<%#= render 'countdown_actions_modal' %>


<input id="countdown-date" type="hidden" value="<%= @countdown.date %>">

<style>
  .navbar {
    margin-bottom: 0 !important;
  }

  .flip-clock-label { 
    color: <%= @countdown.labels_color %> !important;
  }

  .flip-clock-wrapper ul li a div div.inn {
    color: <%= @countdown.time_color %> !important;
    background-color: <%= @countdown.clock_background_color %> !important;
  }
</style>
